<!DOCTYPE html>
<html ng-app="app">
<head>
<script type="text/javascript">
<!--
function watermark(inputId,text){
  var inputBox = document.getElementById(inputId);
    if (inputBox.value.length > 0){
			inputBox.style.color = 'black'
      if (inputBox.value == text) {
				inputBox.style.color = 'black'
        inputBox.value = '';
			}
    }
    else {
			inputBox.style.color = "#c0c0c0";
      inputBox.value = text;
		}
}

//-->
</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
<script language="javascript" type="text/javascript">
  angular.module('app', []);
  
  //Whatever you put on the controller scope,
  //will be availalble in the HTML element bound to the controller.
  function MyController($scope){
    $scope.newMessage = "";
    $scope.messages = ["college days", "growing up", "my career"]; 
    
    $scope.add = function(){
      $scope.messages.push($scope.newMessage);
    };
  }
</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1"><title>Lifenotes by bywong</title>

<link rel="stylesheet" href="stylesheets/styles.css">
<link rel="stylesheet" href="stylesheets/pygment_trac.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
</head>

<body ng-controller="MyController">
<div class="wrapper"> 
<header> 
<h5><a href="javascript:alert('You can not sign out, I am not done yet :)');">Signout</a> | <a href="javascript:alert('Nice try!');">Sign Up</a></h5>
<h1>Lifenotes</h1>
<p>important little things in life ...</p>
<p>
<p>
<div class="box1">
<h3>Time
notes</h3>

<ul class="specials">
  <li ng-repeat="message in messages">
    <a href="javascript:alert('{{message}}');">{{message}}</a>
  </li>
</ul>
		

<input ng-model="newMessage" id="compose_timenote" value="compose a new timenote" name="timenote" size="20"> 
<input value="create new" type="submit" ng-click="add()">
<br>or choose from a list of commonly used timenotes <a href="">here</a>
</div>

<br>
<div class="box1">
<h3>Friends</h3>
<a href=""><img src="images/v1.gif" border=0/></a>
<a href=""><img src="images/v2.jpg" border=0/></a>
<a href=""><img src="images/v3.gif" border=0/></a>
<a href=""><img src="images/v4.gif" border=0/></a>
<a href=""><img src="images/v5.jpg" border=0/></a>
<a href=""><img src="images/v6.gif" border=0/></a>
<a href=""><img src="images/v7.gif" border=0/></a>
<a href=""><img src="images/v8.gif" border=0/></a>
<br><br>
<a href=""><img src="images/friends.gif" alt="compare with friends" title="compare with friends" border=1 width="40px" height="40px"/></a>
<a href=""><img src="images/invite.gif" alt="invite a friend" title="invite a friend" border=1 width="40px" height="40px"/></a>
<a href=""><img src="images/follow.gif" alt="follow a someone" title="follow a someone" border=1 width="40px" height="40px"/></a>

</div>

</header>


<section>

<form method="post" name="NewNote">
<div class="box1">
<h3>Compose a new note</h3>
<p><input class="textbox" id="compose_note" name="note" size="30" value="compose a new note" onfocus="watermark('compose_note','compose a new note');" onblur="watermark('compose_note','compose a new note');"> for
<select class="specials">
  <option ng-repeat="message in messages">
    {{message}}
  </option>
</select>
<br>Post it to&nbsp;</button><a href="javascript:alert('Please log in to facebook');"><img src="images/fbsend.gif" alt="facebook" /></a>&nbsp;<a href="javascript:alert('Please log in to twitter');"><img src="images/twit.gif" alt="twitter" /></a>&nbsp;<a href="javascript:alert('Please log in to google+');"><img src="images/googlep.gif" alt="google+" /></a>&nbsp;<input type="submit" value="lifenote" onclick="javascript:alert('Hello! Thanks for clicking');">
</p>



</div>
</form>
<p>
<div class="box1">
You are viewing <strong>my career</strong>  <a href="javascript:alert('Graphical timeline yet to be implemented');"><I>[view graphical timeline]</I></a>
<table style="text-align: left; width: 100%;" border="1" cellpadding="1" cellspacing="1">
<tbody>
<tr>
<td width=100px>01 Aug 2008</td>
<td>I finally got my first job after countless interviews!
I'm proud to be a member of ABC Consulting</td>
</tr>
<tr>
<td>12 Dec 2009</td>
<td>Promotion! I am now a Senior Associate. So much sweat,
delivered a good year's worth
of work, I deserve this! $$</td>
</tr>
<tr>
<td>28 Feb 2010</td>
<td>Bonus time! Guess how much I got?</td>
</tr>
<tr>
<td>03 Apr 2012</td>
<td>Moving on to another company in 10 days' time. I will
reveal my new employer soon.</td>
</tr>
<tr>
<td>01 May 2012</td>
<td>My first day of work at Bank DEF.</td>
</tr>
<tr>
<td>19 Aug 2012</td>
<td>Being transferred to the BA team, team lunch today.</td>
</tr>
</tbody>
</table>
</div>
<br>
<strong>Support or Contact</strong><br>
<span class="support1">Having trouble with Pages? Check out the documentation at <a href="http://help.github.com/pages">http://help.github.com/pages</a>
or contact <a href="mailto:support@github.com">support@github.com</a>
and we'll help you sort it out.</span>
<br>
<BR><BR>
<p>This project is maintained by <a href="https://github.com/bywong">bywong</a><br>
<small>Hosted on GitHub Pages </small></p>
</section>
</div>

<script src="javascripts/scale.fix.js"></script>
</body></html>